.comments-container {
    max-height: 300px;
    width:100%;
    overflow-y: auto;
    padding: 10px;
}



.comment {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "body body options";
    
    
    padding: 10px;
    border-bottom: 1px solid #ccc; 

}

.comment-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.comment-author {
    float: left;
}

.comment-time {
    float: right;
}

.comment-body {
    grid-area: body;
    padding: 5px;
}

.other-comment {
    background-color: #efefefef; /* Light gray background */
}

.user-comment .comment-body {
    text-align: right;
}

.comment-options {
    grid-area: options;
    justify-self: end;
    cursor: pointer;
    font-size: 20px;
}

.comment-text {
    word-wrap: break-word;
}

.comment:last-child {
    border-bottom: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    /*background-color: #efefefef;*/
}


.text-entry {
    border: 1px solid #ccc; /* Light grey border */
    padding: 10px;
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px; /* Comfortable font size */
    width: 100%; /* Adjust as needed */
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: #f9f9f9; /* Very light background color */
    resize:none;
}

.text-entry:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
}
