.homePage {  
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(214, 212, 212);
}

.homePagePopUp { 
    z-index: 10;
    position: absolute;
    top: 10rem;
    left: 40vw;
    height: 10rem;
    width: 20rem;
    border: 0.01px dotted black;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.homePagePopUp img { 
    height: 60px;
    width: 60px;
}

.homeNavigationBar { 
    height: 6rem;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeNavigationBar button { 
    z-index: 10;
}

.homeNavigationBar h1 { 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.homeNavigationButtonDiv { 
    display: flex;
    align-items: center;
    gap: 20px;
}

.homeNavigationButtonDiv button:hover { 
    cursor: pointer;
}

.homePageJoinGroup { 
    position: relative;
    margin: 5rem auto 1rem;
    text-align: center;
    width: 50vh;
    height: 20vh;
}

.groupsDiv {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.homeGroupDiv { 
    position: relative;
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
    width: 30vw;
    padding: 10px;
    border: 0.5px solid black;
    background-color: white;
    border-radius: 10px;
}

.homeGroupHeader { 
    width: 15rem;
    padding-left: 5px;
}

.homePageGroupDiv { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.homePageSearchResults { 
    position: absolute;
    top: 4.8rem;
    left: 0.55rem;
    max-height: 20rem;
    overflow-y: scroll;
    width: 29rem;
    background-color: white;
    z-index: 10;
    border: 1px solid black;
}

.homePageSearchResult { 
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.homePageSearchResults h3 { 
    border-bottom: 1px solid black;
}

.homePageSearchResults p { 
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.homePageSearchResults p:hover { 
    cursor: pointer;
}

.homeGroupName { 
    border-bottom: 1px solid black;
}

.homePageSearchDiv { 
    display: flex;
    width: 30rem;
}

.homePageSearchDiv .searchSection{ 
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;
}

.homePageSearchDiv input { 
    width: 90%;
}

.homePageSearchDiv img { 
    height: 30px;
    width: 30px;
    border-radius: 0.3px solid black;
    background-color: rgb(96, 96, 184);
}

.homePageSearchDiv img:hover { 
    cursor: pointer;
    border: 1px solid rgb(102, 102, 184);
}